In [ ]:
pip install mysql-connector-python

In [ ]:
import mysql.connector
import pandas as pd

In [ ]:
import mysql.connector
connection = mysql.connector.connect(
        host = "localhost",
        user = "root",
        passwd = "Samir@"
   ) 
cursorobject = connection.cursor()
cursorobject.execute("create database e_commerce")
connection.close()

In [ ]:
connection = mysql.connector.connect(
        host = "localhost",
        user = "root",
        passwd = "Samir@",
        database = "e_commerce"
   ) 
cursorobject = connection.cursor()
quary1 = """
        create table supplier(SUPP_ID int primary key, 
      SUPP_NAME varchar(50), SUPP_CITY varchar(50), SUPP_PHONE varchar(10));
      create table customer(CUS_ID int not null, CUS_NAME varchar(20) null default null,
      CUS_PHONE varchar(10), CUS_CITY varchar(30), CUS_GENDER char,
      primary key(CUS_ID));
      create table category(CAT_ID int not null, CAT_NAME varchar(20)
      null default null, primary key(CAT_ID));
      create table product(PRO_ID int not null, PRO_NAME varchar(20)
      null default null, PRO_DESC varchar(60) null default null, 
      CAT_ID int not null,
      primary key (PRO_ID), foreign key(CAT_ID) references category(CAT_ID));
      create table product_details(PROD_ID int not null, PRO_ID int not null,
      SUPP_ID int not null, PROD_PRICE int not null, primary key(PROD_ID),
      foreign key (PRO_ID) references product(PRO_ID), foreign key(SUPP_ID)
      references supplier(SUPP_ID));
      create table orders(ORD_ID int not null, ORD_AMOUNT int not null, ORD_DATE date,
      CUS_ID int not null, PROD_ID int not null, primary key(ORD_ID), foreign key(CUS_ID)
      references product_details(PROD_ID));
      create table rating(RAT_ID int not null, CUS_ID int not null, SUPP_ID int not null,
      RAT_RATSTARS int not null, primary key(RAT_ID), foreign key(SUPP_ID)
      references supplier(SUPP_ID), foreign key(CUS_ID) references customer(CUS_ID))"""
cursorobject.execute(quary1)

In [ ]:
Query3 = """select customer.cus.gender, count(customer.cus_gender) as count
          from customer inner join orders on customer.cus_id= orders.cus_id
          where orders.ord_amount>=3000 group by customer.cus_gender;"""
cursorobject.execute(Quary3)
output = cursorobject.fetchall()
output_df = pd.Dataframe(output, columns=['CUS_GENDER','COUNT'])
output_df

In [ ]:
query4= """select orders.*,product.pro_name
            from orders,product_details,product
            where orders.cus_id=2 and orders.prod_id=product_details.prod_id and product_details.pro_id=product.pro_id;"""
cursorobject.execute(query4)
output = cursorobject.fetchall()
output_df = pd.DataFrame(output,columns=['ORD_ID','ORD_AMOUNT','ORD_DATE','PROD_ID','PRO_NAME'])
output_df

In [ ]:
query5= """select supplier.*
            from supplier,product_details
            where supplier.supp_id in
            (select product_details.supp_id from product_details
            group by product_details.supp_id having count(product_details.supp_id)>1)
            group by supplier.supp_id"""
cursorobject.execute(query5)
output = cursorobject.fetchall()
output_df = pd.DataFrame(output,columns=['SUPP_ID','SUPP_NAME','SUPP_CITY','SUPP_PHONE'])
output_df

In [ ]:
quary6= """select category.*
            from orders inner join product_details on orders.prod_id=product_details.prod_id
            inner join product on product.pro_id=product_details.pro_id
            inner join category on category.cat_id=product.cat_id having min(orders.ord_amount)"""
cursorobject.execute(query6)
output = cursorobject.fetchall()
output_df = pd.DataFrame(output, columns=['CAT_ID','CAT_NAME'])
output_df

In [ ]:
query7= """select product.pro_id,product.pro_name
           from orders inner join product_details on product_details.prod_id=orders.prod_id
           inner join product on product.pro_id=product_details.pro_id where orders.ord_date>"2021-10-05";"""
cursorobject.execute(query7)
output = cursorobject.fetchall()
output_df = pd.DataFrame(output, columns=['PRO_ID','PRO_NAME'])
output_df

In [ ]:
query8= """select supplier.supp_id,supplier.supp_name,customer.cus_name,rating.rat_ratstars
           from rating inner join supplier on rating.supp_id=supplier.supp_id
           inner join customer on rating.cus_id=customer.cus_id order by rating.rat_ratstars desc limit 3;"""
cursorobject.execute(query8)
output = cursorobject.fetchall()
output_df = pd.DataFrame(output, columns=['SUPP_ID','SUPP_NAME','CUS_NAME','RAT_RATSTARS'])
output_df

In [ ]:
query9= """select customer.cus_name,customer.cus_gender
           from customer where customer.cus_name like 'A%'or customer.cus_name like '%A';"""
cursorobject.execute(query9)
output=cursorobject.fetchall()
output_df= pd.DataFrame(output, columns=['CUS_NAME','CUS_GENDER'])
output_df

In [ ]:
query10= """select sum(orders.ord_amount)as Amount
            from orders inner join customer on orders.cus_id=customer.cus_id where customer.cus_gender='M;'"""
cursorobject.execute(query10)
output =cursorobject.fetchall()
print("Amount is", output);

In [ ]:
query11= """select* from customer left outer join orders on cumstomer.cus_id=orders.cus_id;"""
cursorobject.execute(query11)
output= cursorobject.fetchall()
output_df = pd.DataFrame(output, columns=['CUS_ID','CUS_NAME','CUS_PHONE','CUS_CITY','CUS_GENDER','ORD_ID','ORD_AMOUNT','ORD_DATE','CUS_ID','PROD_ID'])
output_df